<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Airline Predection Models</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5">Delay Predection</h1>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </div>
                
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option value="2">AA-American Airlines Inc</option>
                        <option value="3">US-US Airways Inc</option>
                        <option value="4">F9-Frontier Airlines Inc</option>
                        <option value="5">B6-JetBlue Airways</option>
                        <option value="6">OO-Skywest Airlines Inc</option>
                        <option value="7">AS-Alaska Airlines Inc</option>
                        <option value="7">NK-Spirit Air Lines</option>
                        <option value="9">WN-Southwest Airlines Co</option>
                        <option value="10">DL-Delta Air Lines Inc</option>
                        <option value="11">EV-Atlantic Southeast Airlines</option>
                        <option value="12">HA-Hawaiian Airlines Inc</option>
                        <option value="13">MQ-American Eagle Airlines Inc</option>
                        <option value="14">VX-Virgin America</option>
                        
                      </select>
                </div>
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option selected="">Select Time</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option selected="">Select Month</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option selected="">Select Day</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option selected="">Select Airport From</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div>
                    <select class="form-select form-select-lg mb-1" aria-label=".form-select-lg example">
                        <option selected="">Select Destination Airport </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>

            </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script scr="../static/js/app.js"></script>
    </body>
</html>
